

#divdiv{
  display: flex;
  justify-content: space-around;
  margin: 2%;
  background-color: lightcyan;
  
}

#add{
  margin: 20px;
  background-color: thistle;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  padding: 10px;
  text-align: center;
}

#name{
  margin: 20px;
  background-color: rgb(206, 64, 206);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  padding: 10px;
  text-align: center;
}


#photo{
  margin: 10px;
  
 


}

#image{
  width: 90%;
  padding: 15px;
  border-radius: 30px;

}

h4{
  margin: 15px;
}